<h2>Template: <small> Dinámicos </small></h2>
<hr>

<form (ngSubmit)="submit()" #myForm="ngForm">
    <div class="mb-3 row">
        <label class="col-sm3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="Nombre de la persona" name="name" minlength="4"
                required [(ngModel)]="persona.nombre">
            @if (notValid("name")) {

            <span class="form-text text-danger">
                Este campo es obligatorio
            </span>
            }
        </div>
    </div>

    <!-- Agregar Favorito -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">

            <div class="input-group">
                <input class="form-control" placeholder="Agregar favorito" name="name" [(ngModel)]="name">

                <button class="btn btn-outline-primary" type="button" (click)="agregarFavorito()">
                    Agregar
                </button>
            </div>
        </div>
    </div>
    <!-- Lista de Juegos Favoritos -->


    @for (favorito of persona.favoritos; track favorito.id) {

    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9">

            <div class="input-group mb-1">
                <input name="favorito-{{favorito.id}}" class="form-control" [(ngModel)]="favorito.nombre">

                <button class="btn btn-outline-danger" type="button" (click)="borrarFavorito(favorito.id)">
                    Eliminar
                </button>
            </div>

        </div>
    </div>
    }



    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-primary float-end" [disabled]="myForm.invalid">Guardar</button>
        </div>
    </div>

    <span>Persona</span>
    <pre>{{persona|json}}</pre>

</form>