<h2>Template: Switches</h2>
<hr>


<form (ngSubmit)="submit()" #myForm="ngForm" autocomplete="off">

    <!-- Radio -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Género</label>
        <div class="col-sm-9">

            <div class="form-check">
                <input class="form-check-input"
                       type="radio"
                       value="M"
                       id="radioMasculino"
                       name="genre"
                       [(ngModel)]="person.genre"
                       required
                       >
                <label class="form-check-label" for="radioMasculino">
                  Masculino
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input"
                       type="radio"
                       value="F"
                       id="radioFemenino"
                       name="genre"
                       [(ngModel)]="person.genre"
                       required
                       >
                <label class="form-check-label" for="radioFemenino">
                  Femenino
                </label>
            </div>

        </div>
    </div>

    <!-- Switches -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Notificaciones</label>
        <div class="col-sm-9">

            <div class="form-check form-switch mt-2">
                <input class="form-check-input"
                       type="checkbox"
                       id="flexSwitchCheckChecked"
                       [(ngModel)]="person.notifications"
                       name="notifications">
                <label class="form-check-label" for="flexSwitchCheckChecked">Quiero recibir notificaciones</label>
            </div>

        </div>
    </div>

    <!-- Switches -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input"
                       type="checkbox"
                       id="flexCheckDefault"
                       name="terms"
                       [(ngModel)]="terms"
                       required
                       >
                <label class="form-check-label" for="flexCheckDefault">
                  Términos y condiciones de uso
                </label>
            </div>
        </div>
    </div>
    

    <!-- Boton submit -->
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end" [disabled]="!myForm.valid">
                Guardar
            </button>
        </div>
    </div>

    <p> Valid: {{myForm.valid}} </p>

    <swal #swalSuccess title="Éxito!" text="Formulario guardado correctamente!" icon="success"></swal>
    <swal #confirmDialog title="¿Estás seguro?" text="Se va a enviar el formulario" icon="question" [showCancelButton]="true" confirmButtonText="Sí, enviar" cancelButtonText="Cancelar"></swal>


</form>